<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="#">
          <img src="https://www.zapatosdebaileflamenco.com/c/69-category_default/happy-dance.jpg" width="130" height="30"
            class="d-inline-block align-top" alt="">

        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-home"></i> About
        </a>
      </li><li class="nav-item">
        <a routerLink="/home" class="nav-link" routerLinkActive="active">
          <i class="fa fa-home"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/cats" class="nav-link" routerLinkActive="active">
          <i class="fa fa-list"></i> Cats
        </a>
      </li>
      
    </ul>
  </div>

  <div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a routerLink="/login" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
              <i class="fa fa-sign-in"></i> Se connecter
            </a>
          </li>
          Pas besoin de se connecter pour le moment 
         <li class="nav-item">
            <a routerLink="/register" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
              <i class="fa fa-user-plus"></i> S'enregistrer
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/account" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
              <i class="fa fa-user"></i> Account ({{ auth.currentUser.username }})
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
              <i class="fa fa-lock"></i> Admin
            </a>
          </li>
      <li class="nav-item">
        <a routerLink="/logout" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          <i class="fa fa-sign-out"></i> Logout
        </a>
      </li>
    </ul>
  </div>
</nav> -->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand " routerLink="/">Happy Danse</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a routerLink="/agenda" class="nav-link" routerLinkActive="active">Agenda</a>
        </li>
        <!-- Accéder a l'équipe -->
        <li class="nav-item">
          <a routerLink="/équipe" class="nav-link" routerLinkActive="active">Equipe</a>
        </li>
        <!-- Accéder a l'actualité -->
        <li class="nav-item">
          <a routerLink="/actualite" class="nav-link" routerLinkActive="active">Actualités</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dance" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Nos Danses
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <a class="dropdown-item" *ngFor="let dance of danceArr" routerLink="dance/{{ dance.id }}" target="_blank">
              {{ dance.name }}</a>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a routerLink="/equipe" class="nav-link" routerLinkActive="active">Équipe</a>
        </li> -->
        <li class="nav-item">
          <a routerLink="/login" class="nav-link" *ngIf="!auth.loggedIn" routerLinkActive="active">
            Se connecter
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/account" class="nav-link" *ngIf="auth.loggedIn" routerLinkActive="active">
            <i class="fa fa-user"></i> {{ auth.currentUser.username }}
          </a>
        </li>
        <!-- <li class="nav-item">
            <a routerLink="/register" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
              <i class="fa fa-user-plus"></i> Enregistrer un admin
            </a>
          </li> -->
        <li class="nav-item">
          <a routerLink="/admin" class="nav-link" *ngIf="auth.loggedIn && auth.isAdmin" routerLinkActive="active">Gérer
            le site</a>
        </li>
        <li class="nav-item">
          <a routerLink="/logout" class="nav-link" *ngIf="auth.loggedIn" routerLinkActive="active">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
