<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>


<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new article</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addArticleForm" (ngSubmit)="addArticle()">
      <input class="form-control mr-2" type="text" name="title" formControlName="title" placeholder="titre">
      <input>
      <textarea class="form-control mr-2" type="textarea" cols="40" rows="5" name="text" formControlName="text"
        placeholder="Texte à afficher"></textarea>
      <input class="form-control mr-2" type="text" name="author" formControlName="author" placeholder="Autheur">
      <input class="form-control mr-2" type="text" name="description" formControlName="description" placeholder="Description">
      <button class="btn btn-primary" type="submit" [disabled]="!addArticleForm.valid"><i class="fa fa-floppy-o"></i>
        Add</button>
    </form>
  </div>
</div>
<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current articles ({{ articles.length }})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Picture</th>
          <th scope="col">Texte</th>
          <th scope="col">Author</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="articles.length === 0">
        <tr>
          <td colspan="6">There are no articles in the DB. Add a new article below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let article of articles">
          <td>{{ article.title }}</td>
          <td>{{ article.picture }}</td>
          <td class="article-text">{{ article.text }}</td>
          <td>{{ article.author }}</td>
          <td>{{ article.description }}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(article)"><i class="fa fa-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteArticle(article)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="6">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editArticle(article)">
              <input class="form-control mr-2" type="text" name="title" [(ngModel)]="article.title" placeholder="Titre"
                required>
                <input>
              <textarea class="form-control mr-2" type="textarea" cols="40" rows="5" name="text" [(ngModel)]="article.text"
                placeholder="Texte à afficher" required></textarea>
              <input class="form-control mr-2" type="text" name="author" [(ngModel)]="article.author" placeholder="Autheur de l'article"
                required>
              <input class="form-control mr-2" type="text" name="description" [(ngModel)]="article.description"
                placeholder="description de l'article" required>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i>
                Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
