<!-- <app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast> -->
<!-- Affichage d'uniquement des 5 articles rédigées récemment  -->
<section class="p-0" id="portfolio">
  <div class="container-fluid p-0" >
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6" *ngIf="articles[0]">
        <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg" ><!-- *ngIf="article[0]" [routerLink]="['/article', ramdomProjets[0]._id]" -->
          <img class="img-fluid" src="http://1.bp.blogspot.com/-sQ6TJ45S5sE/Ts-kwQW5x8I/AAAAAAAAADY/_cCPejwK89I/s1600/652ca531.jpg"
            alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content" >
              <div class="project-category text-faded">
                {{ articles[0].description }}
              </div>
              <div class="project-name" >
                {{ articles[0].title }}
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6" *ngIf="articles[1]">
        <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
          <img class="img-fluid" src="http://1.bp.blogspot.com/-sQ6TJ45S5sE/Ts-kwQW5x8I/AAAAAAAAADY/_cCPejwK89I/s1600/652ca531.jpg"
            alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content" >
              <div class="project-category text-faded">
                {{ articles[1].description }}
              </div>
              <div class="project-name">
                {{ articles[1].title }}
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6" *ngIf="articles[2]">
        <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
          <img class="img-fluid" src="http://1.bp.blogspot.com/-sQ6TJ45S5sE/Ts-kwQW5x8I/AAAAAAAAADY/_cCPejwK89I/s1600/652ca531.jpg"
            alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                {{ articles[2].description }}

              </div>
              <div class="project-name">
                {{ articles[2].title }}
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6" *ngIf="articles[3]">
        <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
          <img class="img-fluid" src="http://1.bp.blogspot.com/-sQ6TJ45S5sE/Ts-kwQW5x8I/AAAAAAAAADY/_cCPejwK89I/s1600/652ca531.jpg"
            alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                {{ articles[3].description }}

              </div>
              <div class="project-name">
                {{ articles[3].title }}
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6" *ngIf="articles[4]">
        <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
          <img class="img-fluid" src="http://1.bp.blogspot.com/-sQ6TJ45S5sE/Ts-kwQW5x8I/AAAAAAAAADY/_cCPejwK89I/s1600/652ca531.jpg"
            alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                {{ articles[4].description }}

              </div>
              <div class="project-name">
                {{ articles[4].title }}
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6" *ngIf="articles[5]">
        <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
          <img class="img-fluid" src="http://1.bp.blogspot.com/-sQ6TJ45S5sE/Ts-kwQW5x8I/AAAAAAAAADY/_cCPejwK89I/s1600/652ca531.jpg"
            alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                {{ articles[5].description }}

              </div>
              <div class="project-name">
                {{ articles[5].title }}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
