header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 50vh;
    min-height: 550px;
    padding-top: 0;
    padding-bottom: 0;
  }

  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.text {
  margin-top: 5vh;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-location {
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 300px;
  background-color: midnightblue;
  border-color: midnightblue;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-location:hover,
.btn-location:focus,
.btn-location:active {
  color: #fff;
  background-color: blue !important;
}
