<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="mx-auto text-uppercase">
        {{article.title}}
      </h1>
    </div>
    <div class="col-sm-6">
      <img src="{{picture}}" alt="image indisponible">
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center text">
    <div class="col-xs-12">
      <p class="text">
        {{newText}}
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 btn-center">
      <a class="btn-location btn-dark btn-xl js-scroll-trigger" routerLink="/">Retour à l'accueil</a>
    </div>
  </div>
</div>
<hr>
<section id="contact">
  <app-contact></app-contact>
</section>
