<div class="fluid-container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="#">
            <img src="https://www.zapatosdebaileflamenco.com/c/69-category_default/happy-dance.jpg" width="130" height="30"
              class="d-inline-block align-top" alt="">

          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/cats" class="nav-link" routerLinkActive="active">
            <i class="fa fa-list"></i> Cats
          </a>
        </li>
        
      </ul>
    </div>

    <!-- Gérer les utilisateur / espace admin etc  -->
    <div>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a routerLink="/login" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
                <i class="fa fa-sign-in"></i> Se connecter
              </a>
            </li>
            <!-- Pas besoin de se connecter pour le moment -->
            <!-- <li class="nav-item">
              <a routerLink="/register" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
                <i class="fa fa-user-plus"></i> S'enregistrer
              </a>
            </li> -->
            <li class="nav-item">
              <a routerLink="/account" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
                <i class="fa fa-user"></i> Account ({{ auth.currentUser.username }})
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/admin" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
                <i class="fa fa-lock"></i> Admin
              </a>
            </li>
        <li class="nav-item">
          <a routerLink="/logout" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <i class="fa fa-sign-out"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
