<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h2 class="section-heading">Contactez nous!</h2>
      <hr class="my-4">
      <p class="mb-5">Vous êtes prêts à nous rejoindre ? Allez venez nous voir !</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 ml-auto text-center">
      <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
      <p>123-456-6789</p>
    </div>
    <div class="col-lg-4 ml-auto text-center">
      <!-- <a class="btn btn-default" href="https://www.facebook.com/happydanse82/" style="background-color: white">
            <img src="../../assets/fb_icon_325x325.png" width="60"  />
            <p>Happy Danse</p>
        </a> -->
      <a class="btn btn-default" href="https://www.facebook.com/happydanse82/" style="background-color: white">
        <i class="fab fa-facebook fa-3x mb-3 sr-contact-2" style="color: #4267b2"></i>
      </a>
      <a href="https://www.facebook.com/happydanse82/">
        <p>Happy Danse</p>
      </a>
    </div>
    <div class="col-lg-4 mr-auto text-center">
      <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
      <p>
        <a href="mailto:your-email@your-domain.com">feedback@happydance.com</a>
      </p>
    </div>
  </div>
</div>
