<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>


<div class="card" *ngIf="!isEditingBureau">
  <h4 class="card-header">Ajouter une nouvelle personne appartenant au bureau</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addBureauForm" (ngSubmit)="addBureau()">
      <input class="form-control mr-2" type="text" name="name" formControlName="name" placeholder="Nom">
      <input class="form-control mr-2" type="text" name="surname" formControlName="surname" placeholder="Prénom">
      <app-upload class="upload" [callback]="onFileUploaded"></app-upload>
      <input class="form-control mr-2" type="text" name="name" formControlName="resume" placeholder="Poste / Non obligatoire">
      <button class="btn btn-primary" type="submit" [disabled]="!addBureauForm.valid"><i class="fa fa-floppy-o"></i>
        Ajouter</button>
    </form>
  </div>
</div>
<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Nb de personne ({{ bureaux.length }})</h4>
  <div class="card-body table-responsive">
    <form class="form" #form="ngForm" (ngSubmit)="editBureau(bureau)">

      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Photo</th>
            <th scope="col">Résumé</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="bureaux.length === 0">
          <tr>
            <td colspan="6">There are no bureaux in the DB. Add a new bureau below.</td>
          </tr>
        </tbody>
        <tbody *ngIf="!isEditingBureau">
          <tr *ngFor="let bureau of bureaux">
            <td>{{ bureau.name }}</td>
            <td>{{ bureau.surname }}</td>
            <td>
              <img class="imageUrl" src="api/file/{{ bureau.photo }}"  onerror="this.onerror=404;this.src='./../assets/avatar-male.png'"alt="Can't access">
            </td>
            <td class="bureau-text">{{ bureau.resume }}</td>
            <td>
              <button class="btn btn-sm btn-primary" (click)="enableEditingBureau(bureau)"><i class="fa fa-pencil"></i>
                Edit</button>
              <button class="btn btn-sm btn-danger" (click)="deleteBureau(bureau)"><i class="fa fa-trash"></i> Delete</button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="isEditingBureau">
          <tr>
            <td>
              <input class="form-control mr-2" type="text" name="name" [(ngModel)]="bureau.name" placeholder="Nom"
                required>
            </td>
            <td>
              <input class="form-control mr-2" type="text" name="surname" [(ngModel)]="bureau.surname" placeholder="Prénom"
                required>
            </td>
            <td>
              <app-upload class="up col-12 col-md-5" [callback]="onFileUploaded"></app-upload>
            </td>
            <td>
              <input class="form-control mr-2" type="text" name="resume" [(ngModel)]="bureau.resume" placeholder="Description"
                required>
            </td>
            <td>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i>
                Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditingBureau()"><i class="fa fa-times"></i> Cancel</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>


<!-- Profs -->
<div class="card" *ngIf="!isEditingProf">
  <h4 class="card-header">Ajouter une nouvelle personne appartenant au avenant</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addProfForm" (ngSubmit)="addProf()">
      <input class="form-control mr-2" type="text" name="name" formControlName="name" placeholder="Nom">
      <input class="form-control mr-2" type="text" name="surname" formControlName="surname" placeholder="Prénom">
      <app-upload class="upload" [callback]="onFileUploaded"></app-upload>
      <input class="form-control mr-2" type="text" name="resume" formControlName="resume" placeholder="Poste / Non obligatoire">
      <button class="btn btn-primary" type="submit" [disabled]="!addProfForm.valid"><i class="fa fa-floppy-o"></i>
        Ajouter</button>
    </form>
  </div>
</div>
<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Nb de personne ({{ profs.length }})</h4>
  <div class="card-body table-responsive">
    <form class="form" #form="ngForm" (ngSubmit)="editProf(prof)">

      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Photo</th>
            <th scope="col">Résumé</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="profs.length === 0">
          <tr>
            <td colspan="6">There are no profs in the DB. Add a new prof below.</td>
          </tr>
        </tbody>
        <tbody *ngIf="!isEditingProf">
          <tr *ngFor="let prof of profs">
            <td>{{ prof.name }}</td>
            <td>{{ prof.surname }}</td>
            <td>
              <img class="imageUrl" src="api/file/{{ prof.photo }}"  onerror="this.onerror=404;this.src='./../assets/avatar-male.png'" alt="Can't access">
            </td>
            <td class="prof-text">{{ prof.resume }}</td>
            <td>
              <button class="btn btn-sm btn-primary" (click)="enableEditingProf(prof)"><i class="fa fa-pencil"></i>
                Edit</button>
              <button class="btn btn-sm btn-danger" (click)="deleteProf(prof)"><i class="fa fa-trash"></i> Delete</button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="isEditingProf">
          <tr>
            <td>
              <input class="form-control mr-2" type="text" name="name" [(ngModel)]="prof.name" placeholder="Nom"
                required>
            </td>
            <td>
              <input class="form-control mr-2" type="text" name="surname" [(ngModel)]="prof.surname" placeholder="Prénom"
                required>
            </td>
            <td>
              <app-upload class="up col-12 col-md-5" [callback]="onFileUploaded"></app-upload>
            </td>
            <td>
              <input class="form-control mr-2" type="text" name="resume" [(ngModel)]="prof.resume" placeholder="Description"
                required>
            </td>
            <td>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i>
                Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditingProf()"><i class="fa fa-times"></i> Cancel</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
