.table td,
.table th {
  width: 25%;
}
.dance-text {
  max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.imageUrl {
  max-width: 15vh;
}
.divUpload {
  margin-right: 1vh;
}