<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <mark>Happy Danse de Verdun-sur-Garonne</mark>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p>
          <mark class="text-faded mb-5">Commencer la danse peut être une bonne excuse pour ne pas manger des épinards
            ou de
            la soupe le soir</mark></p>
        <a class="btn btn-primary btn-xl text-btn" href="#about">Nous ?</a>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Nous avons ce que vous avez besoin!</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">e Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
          page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
          quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices
          de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique,
          sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles
          Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications
          de mise en page de texte, comme Aldus PageMaker.</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Commencer à swigger !</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Nos engagements</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-key text-primary mb-3 sr-icon-1"></i>
          <h3 class="mb-3">Clé de la réussite</h3>
          <p class="text-muted mb-0">Vous voulez impressionez vos proches, nous avons beaucoup de clé pour la réussite !</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-map-marked-alt text-primary mb-3 sr-icon-2"></i>
          <h3 class="mb-3">Notre location ?</h3>
          <p class="text-muted ">
            Verdun sur Garonne - Salle des fêtes
          </p>
        </div>
        <a class="btn-location btn-dark btn-xl js-scroll-trigger" href="#map">La map ?</a>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-calendar-alt text-primary mb-3 sr-icon-3"></i>
          <h3 class="mb-3">Des évenements !</h3>
          <p class="text-muted mb-0">Chaque années, de nombreux évenements sont organisés au sein de notre association,
            cela vous dit de rencontrez des passionés de danse ?</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3">Made with Love</h3>
          <p class="text-muted mb-0">Tout nos cours de danse sont réalisés avec amour <i class="fas fa-heart"></i></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section de l'équipe -->
<!-- <section id="equipe">
  <app-equipe></app-equipe>
</section> -->

<!-- Section sur les articles -->
<div id="articles">
  <app-article></app-article>
</div>

<section class="bg-dark text-white" id="map">
  <div class="container text-center">
    <p>
      <button class="btn btn-light btn-xl sr-button" type="button">
        Venez dansez avec nous !
      </button>
      <div class="card card-body">
        <div class="map-responsive">
          <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=3%20Avenue%20L%C3%A9o%20Lagrange%2C%2082600%20Verdun-sur-Garonne+(Salle%20des%20f%C3%AAtes)&amp;ie=UTF8&amp;t=h&amp;z=17&amp;iwloc=B&amp;output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/"></a></iframe></div><br />
        </div>

      </div>
  </div>
</section>

 <app-contact id="contact"></app-contact>

